

<div>
@foreach (var movie in Model)
{
    

    <div>
   <h3> @Html.Raw(movie.Name)</h3> 
        <span>@movie.Category, @movie.YearOfRelease  </span>
       
        
        
    </div>
}
    </div>